{% extends "base.html" %}
{% block title %}Inscription - MentorLink{% endblock %}

{% block content %}
<div style="max-width:500px; margin:0 auto;">
    <div class="card">
        <h3 style="margin-bottom:20px;">Créer un compte</h3>
        <form method="post">
            {% csrf_token %}
            <label>Nom</label>
            <input type="text" name="nom" class="form-control" required>
            <label>Prénom</label>
            <input type="text" name="prenom" class="form-control" required>
            <label>Email</label>
            <input type="email" name="email" class="form-control" required>
            <label>Téléphone</label>
            <input type="text" name="telephone" class="form-control" required>
            <label>Filière</label>
            <select name="filiere" class="form-control">
                <option value="">-- Choisir --</option>
                <option value="GL">Génie Logiciel</option>
                <option value="IA">Intelligence Artificielle</option>
                <option value="IM">Internet et Multimédia</option>
                <option value="SI">Sécurité Informatique</option>
                <option value="SE">Systèmes Embarqués et IoT</option>
            </select>
            <label>Niveau</label>
            <select name="niveau" class="form-control">
                <option value="">-- Choisir --</option>
                <option value="L1">Licence 1</option>
                <option value="L2">Licence 2</option>
                <option value="L3">Licence 3</option>
                <option value="M1">Master 1</option>
                <option value="M2">Master 2</option>
            </select>
            <label>Mot de passe</label>
            <input type="password" name="mot_de_passe" class="form-control" required>
            <label>Confirmer le mot de passe</label>
            <input type="password" name="mot_de_passe2" class="form-control" required>
            {% if form.errors %}
            <div class="alert alert-danger">Vérifie les champs et réessaie.</div>
            {% endif %}
            <button type="submit" class="btn btn-primary" style="width:100%; margin-top:5px;">S'inscrire</button>
        </form>
        <p style="margin-top:15px; text-align:center;">
            Déjà un compte ? <a href="{% url 'connexion' %}">Se connecter</a>
        </p>
    </div>
</div>
{% endblock %}